// Forms
.form {

  border-radius: 3px;
  font-size: 0.875rem;
  margin-top: 1rem;
  padding: 1.25rem;

  &--auth {
    margin: 0 auto;
    width: 20rem;
  }

  &--light {
    background: $white;
    border: 1px solid $gray--300;
    color: $text--black;
  }

  &--dark {
    background: $white;
    border: 1px solid $gray--300;
    color: $text--black;
  }

  &__input {
    display: block;
    margin-bottom: 0.75rem;

    margin-top: 0.375rem;
    width: 100%;
  }

  &__control {

    background-color: $white;
    background-position: right 8px center;
    background-repeat: no-repeat;

    border: 1px solid $border--gray-dark;
    border-radius: $border-radius;
    box-shadow: $form__control-shadow;
    color: $text--gray-dark;
    font-size: 1rem;
    line-height: 1.25rem;
    min-height: 1rem;

    outline: none;

    padding: 0.25rem 0.625rem;
    vertical-align: middle;

    // Ensures inputs don't zoom on mobile but are body-font size on desktop
    @include media-breakpoint-up(md) {
      font-size: 0.875rem;
    }

    &.focus,
    &:focus {
      // stylelint-disable-next-line primer/borders
      border-color: $blue--400;
      box-shadow: $form__control-shadow, $btn__input-focus-shadow;
      outline: none;
    }
  }

  > label {
    display: block;

    font-weight: 600;
    margin-bottom: 0.5rem;
  }
}
